@import '~antd/lib/style/themes/default.less';

@import './layout/index.less';

/*
*    Overwrite the Ant design variables
*/
@import './theme/index.less';

body,
#root {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: 'Open Sans';
}
